In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Aggregations').getOrCreate()

In [5]:
df = spark.read.csv('Python-and-Spark-for-Big-Data-master/Spark_DataFrames/sales_info.csv', 
                    inferSchema=True, header=True)

In [8]:
df.describe().show()

+-------+-------+-------+------------------+
|summary|Company| Person|             Sales|
+-------+-------+-------+------------------+
|  count|     12|     12|                12|
|   mean|   null|   null| 360.5833333333333|
| stddev|   null|   null|250.08742410799007|
|    min|   APPL|  Chris|             120.0|
|    max|   MSFT|Vanessa|             870.0|
+-------+-------+-------+------------------+

In [6]:
df.show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|    Sam|200.0|
|   GOOG|Charlie|120.0|
|   GOOG|  Frank|340.0|
|   MSFT|   Tina|600.0|
|   MSFT|    Amy|124.0|
|   MSFT|Vanessa|243.0|
|     FB|   Carl|870.0|
|     FB|  Sarah|350.0|
|   APPL|   John|250.0|
|   APPL|  Linda|130.0|
|   APPL|   Mike|750.0|
|   APPL|  Chris|350.0|
+-------+-------+-----+

In [10]:
df.groupBy('Company').mean().show()

+-------+-----------------+
|Company|       avg(Sales)|
+-------+-----------------+
|   APPL|            370.0|
|   GOOG|            220.0|
|     FB|            610.0|
|   MSFT|322.3333333333333|
+-------+-----------------+

In [15]:
df.groupBy('Person').min().show() # min, max, mean, count e.t.c.

+-------+----------+
| Person|min(Sales)|
+-------+----------+
|  Linda|     130.0|
|    Amy|     124.0|
|  Sarah|     350.0|
|Charlie|     120.0|
|  Chris|     350.0|
|   John|     250.0|
|    Sam|     200.0|
|   Carl|     870.0|
|Vanessa|     243.0|
|   Mike|     750.0|
|   Tina|     600.0|
|  Frank|     340.0|
+-------+----------+

In [22]:
df.agg({'Sales':'avg'}).show()

+-----------------+
|       avg(Sales)|
+-----------------+
|360.5833333333333|
+-----------------+

In [17]:
group_data = df.groupBy('Company')
group_data.agg({'Sales':'max'}).show()

+-------+----------+
|Company|max(Sales)|
+-------+----------+
|   APPL|     750.0|
|   GOOG|     340.0|
|     FB|     870.0|
|   MSFT|     600.0|
+-------+----------+

In [20]:
group_data = df.groupBy('Company')
group_data.agg({'Sales':'count'}).show()

+-------+------------+
|Company|count(Sales)|
+-------+------------+
|   APPL|           4|
|   GOOG|           3|
|     FB|           2|
|   MSFT|           3|
+-------+------------+

In [26]:
from pyspark.sql.functions import avg, stddev, format_number
df.select(avg('Sales').alias("Sales Average")).show()

+-----------------+
|    Sales Average|
+-----------------+
|360.5833333333333|
+-----------------+

In [27]:
df.select(stddev('Sales')).show()

+------------------+
|stddev_samp(Sales)|
+------------------+
|250.08742410799007|
+------------------+

In [29]:
df.select(stddev('Sales').alias('STD')).show()

+------------------+
|               STD|
+------------------+
|250.08742410799007|
+------------------+

In [30]:
df.select(stddev('Sales').alias('STD')).select(format_number('STD', 2)).show()

+---------------------+
|format_number(STD, 2)|
+---------------------+
|               250.09|
+---------------------+

In [31]:
df.select(stddev('Sales').alias('STD')).select(format_number('STD', 2).alias('std')).show()

+------+
|   std|
+------+
|250.09|
+------+

In [32]:
df.orderBy('Sales').show() # Ascending.

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|Charlie|120.0|
|   MSFT|    Amy|124.0|
|   APPL|  Linda|130.0|
|   GOOG|    Sam|200.0|
|   MSFT|Vanessa|243.0|
|   APPL|   John|250.0|
|   GOOG|  Frank|340.0|
|     FB|  Sarah|350.0|
|   APPL|  Chris|350.0|
|   MSFT|   Tina|600.0|
|   APPL|   Mike|750.0|
|     FB|   Carl|870.0|
+-------+-------+-----+

In [33]:
# Descending is a little weird.
df.orderBy(df['Sales'].desc()).show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|     FB|   Carl|870.0|
|   APPL|   Mike|750.0|
|   MSFT|   Tina|600.0|
|     FB|  Sarah|350.0|
|   APPL|  Chris|350.0|
|   GOOG|  Frank|340.0|
|   APPL|   John|250.0|
|   MSFT|Vanessa|243.0|
|   GOOG|    Sam|200.0|
|   APPL|  Linda|130.0|
|   MSFT|    Amy|124.0|
|   GOOG|Charlie|120.0|
+-------+-------+-----+

In [40]:
df.head(2)[-1]

Row(Company='GOOG', Person='Charlie', Sales=120.0)