In [28]:
from pyspark.sql import SparkSession

In [29]:
spark = SparkSession.builder.appName("Basics").getOrCreate()

In [32]:
df = spark.read.json('Python-and-Spark-for-Big-Data-master/Spark_DataFrames/people.json')

In [33]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [34]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [42]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [43]:
df.columns

['age', 'name']

In [46]:
df.createOrReplaceTempView('people')

In [48]:
results = spark.sql('SELECT * from people')

In [49]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

ParseException: "\nmismatched input 'age' expecting <EOF>(line 1, pos 27)\n\n== SQL ==\nSELECT * from people WEHRE age >= '30'\n---------------------------^^^\n"